<div class="d-flex">
  <div class="bg-success border-right p-3" id="sidebar">
    <h3 class="text-light">
      Gifs-App
    </h3>
    <hr class="text-light">
    <div class="list-group list-reset">
      <a href="#"class="list-group-item list-group-item-action">
        Dashboard
      </a>
    </div>
  </div>
<!-- end siderbar -->
  <div class="container">
  
    <div class="row p-3">
      <div class="col">
        <h5>Buscar:</h5>
        <input type="text" class="form-control" placeholder="Buscar Gif...">
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam nam facere fugit neque sapiente dolores tempore, excepturi, magni ipsum ipsam dolore deleniti. Tempore rerum error libero odit excepturi, ratione asperiores?
      </div>
    </div>

  </div>
</div>